{include file="header" title="YunCMS后台管理系统" keywords="" description=""/}


<div class="content-page">
    <div class="am-container">
        <div class="min-height">
            <div class="page-title"><h1 class="am-inline">链接列表</h1>
                <a href="/index.php/admin/links/edit" class="am-btn am-btn-primary am-btn-xs am-radius">
                    <i class="am-icon am-icon-edit"></i>添加链接
                </a>
                <a href="#" class="am-btn am-btn-default am-btn-xs am-radius">
                    <i class="am-icon-trash"></i>回收站
                </a>
            </div>

    </div>
    <form class="am-form am-g margin-top-buttom-20" data-am-validator="">
        <div class="am-form-group all-width">
            <label for="links-name">链接名称</label>
            <input type="text" name="links-name" id="links-name" maxlength="200" required>
        </div>
        <div class="am-form-group all-width">
            <div class="add-img-backgound">
            <label for="links-icon">链接图标：</label>
            <input id="links-icon" class="links-icon inputfile-hide" type="file" name="links-icon">
            <br><img src="" id="links-img" class="input-img-maxsize"><label for="links-icon" class="add-img-btn"/><div class="am-icon-plus-square am-icon-lg add-img-div"></div></label><br>
            </div>
        </div>
        <div class="am-form-group all-width">
            <label for="links-url">链接地址</label>
            <input type="text" name="links-url" id="links-url" maxlength="255" required>
        </div>
        <button class="am-btn am-btn-primary button-text-left ">提交</button>
    </form>
</div>
</div>
{include file="footer" /}
