
.ad-textarea-width {
    height: 100px;
    margin-bottom: 20px;
}
form .inputfile-hide {
    display: none;
    height: 0;
    width: 0;
    z-index: -1;
}
.input-img-maxsize {
    max-width: 360px;
}
.ad-edit-postion {
    margin: 50px 0 20px;
}
.margin-1p5 {
    margin: 1.5rem;
}
.margin-top-buttom-20 {
    margin: 20px 0;
}
.button-text-left {
    margin: 1.5rem;
}

.img-box{
    float:right;
}
.img-box-checkbox{
    opacity: 0;
}
.display-ib{
    display: inline-block;
}

.img-center{
    text-align: center;
}
.imglist-height{
    height:200px;
}
.all-width{
    width:60%;
    padding-left: 1.5rem;
}
table th , table td{
    text-align: center;
}

