{include file="header" title="YunCMS后台管理系统" keywords="" description=""/}

{include file="footer" /}
<div class="content-page">
    <div class="am-container">

<form class="ad-form-style">

    <label>页面标题:<input class="ad-input-width" type="text" name="page-title"></label>
    <label>页面封面<input class="inputfile-hide" type="file" name="page-cover" id="page-cover"></label>
    <br><img class="input-img-maxsize" src="" id="ad-slide-cover-img" ><br>
    <label for="page-cover" class="am-btn am-btn-primary btn-loading-example ad-edit-postion">添加图片</label><br>
    <label>页面简介:<textarea class="ad-textarea-width" name="page-intro"></textarea></label>
    <label>SEO标题<input class="ad-input-width" type="text" name="page-seo-title"></label>
    <label>SEOurl(必填)<input class="ad-input-width" type="text" name="page-seo-url"></label>
    <label>SEO关键字<input class="ad-input-width" type="text" name="page-seo-key"></label>
    <label>SEO描述<textarea class="ad-textarea-width" name="page-seo-desc"></textarea></label>
    <label>页面内容<textarea class="ad-textarea-width" name="page-content"></textarea></label>
    <label>页面模板<textarea class="ad-textarea-width" name="page-temp"></textarea></label>
</form>
    </div>
</div>
{include file="footer" /}
